.pos .order-container .orderline .info-list li.price-per-unit + li {
  display: list-item;
  background: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
  color: var(--bs-danger);
  font-weight: 700;
}

/* El porcentaje hereda el color y sin badge */
.pos .order-container .orderline .info-list li.price-per-unit + li em {
  background: none !important;
  color: inherit !important;
  padding: 0 !important;
  font-weight: 800;
}
