.vademecum-modal .card {
    width: 30% !important;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.vademecum-modal .section-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.vademecum-modal h5 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.vademecum-modal p {
    font-size: 12px;
    color: #666;
}

.vademecum-modal .accordion-button {
    font-size: 14px;
}

@media (max-width: 767px) {
    .vademecum-modal .card {
        width: 100% !important;
        padding: 10px;
    }
    .vademecum-modal .section-title {
        font-size: 16px;
    }
    .vademecum-modal h5 {
        font-size: 14px;
    }
    .vademecum-modal p {
        font-size: 12px;
    }
    .vademecum-modal .accordion-button {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .vademecum-modal .card {
        width: 45% !important;
    }
}