.oe_website_sale {
    color: #003D8B;
}

.o_categories_collapse_title {
    font-weight: bold;
    font-size: 15px;
}

.table > :not(caption) > * > * {
    background-color: #ffffff;
}

.oe_product {
    background: #FBFBFB;
    box-shadow: 10px 5px 5px black;
}

.oe_product_cart {
    background-color: #FBFBFB !important;
    border-radius: 5px;
}

.o_wsale_product_grid_wrapper {
    box-shadow: 0px 3px 4px 0px #C8C8C8;
    border-radius: 10px;
}

.o_wsale_product_btn {
    opacity: 1 !important;
}

.text-primary {
    color: #003D8B !important;
}

.o_wsale_product_information {
    text-align: center;
}

#products_grid.o_wsale_layout_list td.oe_product .o_wsale_product_information_text {
    text-align: center;
    padding: 0 20% 0 0;
}

#products_grid.o_wsale_layout_list td.oe_product .product_price {
    text-align: center;
    padding: 0 20% 0 0;
}



.o_add_wishlist {
    transform: translate(156%, -2241%);
    border: none !important;
    background-color: #C8C8C8;
}

.o_add_wishlist:hover {
    border: none !important;
}

.product_price {
    display: block;
    width: 100%;
    color: #003D8B !important;
}


.o_wsale_product_sub {
    display: flex;
    flex-direction: column;
}

.product_price {
    order: 1;
}

.o_wsale_product_btn {
    order: 2;
}


.btn.btn-primary.a-submit::before {
    content: " Agregar";
    margin-left: 5px;
    padding: 0px;
    font-size: 13px;
}
.o_wsale_products_item_title a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    min-height: 2.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.o_wsale_products_grid_table_wrapper table th,
.o_wsale_products_grid_table_wrapper table td {
  display: table-cell;
}


.o_wsale_product_btn > .a-submit {
    margin-top: 10px;
    position: static;
    background-color: #F8E032;
    border: none;
    border-radius: 0px 0px 15px;
    width: 80%;
    color: #003D8B;
}

.page-link {
    color: #003D8B !important;

}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Poppins", "Odoo Unicode Support Noto", sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

.page-item.active .page-link {
    background-color: #F8E032 !important;
    border-color: #F8E032 !important;
}

.o_wsale_product_information {
    text-align: center;
    /*padding-top: 20px !important;*/
    /*padding-left: 20px !important;*/
    /*padding-right: 20px !important;*/
    padding: 20px !important;
}
@media (max-width: 367px) {
  .o_wsale_products_grid_table_wrapper table,
  .o_wsale_products_grid_table_wrapper tbody,
  .o_wsale_products_grid_table_wrapper tr,
  .o_wsale_products_grid_table_wrapper td,
  .oe_product {
    display: block !important;
    width: 100% !important;
    box-sizing: border-box;
  }

  .o_wsale_products_grid_table_wrapper thead {
    display: none !important;
  }

  .o_wsale_product_grid_wrapper {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: auto !important;
  }

  .oe_product_image {
    width: 100% !important;
    height: auto !important;
    flex-grow: 1 !important;
  }

  .oe_product_image img {
    width: 100% !important;
    height: auto !important;
    position: static !important;
  }

  .o_wsale_product_information {
    width: 100% !important;
    padding: 10px;
  }

  .o_wsale_product_sub {
    flex-direction: column;
    align-items: flex-start;
  }

  .o_wsale_product_btn {
    margin-top: 10px;
    width: 100%;
  }

  .o_wsale_product_btn a {
    width: 100%;
    text-align: center;
  }
  .o_wsale_apply_layout{
    display: none !important;
  }
}

@media (max-width: 601px) {
    #products_grid.o_wsale_layout_list td.oe_product{
        width: 60% !important;
    }
    #products_grid.o_wsale_layout_list td.oe_product .o_add_wishlist {
        transform: translate(calc(5%* 10), calc(-24%* 10));
    }
}
@media (min-width: 270px) {
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(11%* 10), calc(-118%* 10));
    }
}
@media (min-width: 360px) {
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(7%* 10), calc(-110%* 10));
    }
    #products_grid.o_wsale_layout_list td.oe_product .o_add_wishlist {
        transform: translate(calc(10%* 10), calc(-22%* 10));
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_wsale_product_btn {
        width: 100%;
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_wsale_product_btn a{
        width: fit-content;
        margin-left: 20%;
    }
}
@media (min-width: 390px) {
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(8%* 10), calc(-116%* 10));
    }
}
@media (min-width: 416px) {
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(10%* 10), calc(-130%* 10));
    }
}
@media (min-width: 518px) {
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(14%* 10), calc(-159%* 10));
    }
}
@media (min-width: 575px) {
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(16%* 10), calc(-155%* 10));
    }
}
@media (min-width: 601px) {
    #products_grid.o_wsale_layout_list td.oe_product .o_add_wishlist {
        transform: translate(calc(5%* 10), calc(-22%* 10));
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(14%* 10), calc(-103%* 10));
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_wsale_product_btn a{
        margin-right: 10%;
    }
}
@media (min-width: 768px) {
    #products_grid.o_wsale_layout_list td.oe_product .o_add_wishlist {
        transform: translate(calc(5%* 10), calc(-24%* 10));
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(3%* 10), calc(-110%* 10));
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_wsale_product_btn {
        width: 100%;
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_wsale_product_btn a{
        width: fit-content;
        margin-left: 26%;
    }

}
@media (min-width: 992px) {
    #products_grid:not(.o_wsale_layout_list) td.oe_product {
        padding-bottom: 0;
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_wsale_product_btn {
        position: relative;
        bottom: 0;
        right: auto;
        text-align: start;
    }
    #products_grid.o_wsale_layout_list td.oe_product .o_wsale_product_btn .o_add_wishlist {
        transform: translate(calc(5%* 10), calc(-25%* 10));
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist  {
        transform: translate(calc(12%* 10), calc(-87%* 10));
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_wsale_product_btn a{
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(18%* 10), calc(-88%* 10));
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_wsale_product_btn a{
        margin-left: 5%;
    }
}
@media (min-width: 1400px) {
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_add_wishlist {
        transform: translate(calc(23%* 10), calc(-96%* 10));
    }
    #products_grid:not(.o_wsale_layout_list) td.oe_product .o_wsale_product_btn a{
        margin-left: 13%;
    }
}