@page {
    size: 80mm auto;
    margin: 0;
}

body {
    font-size: 12px;
    width: 80mm;
    margin: 0;
    padding: 0;
}

.recibo-container {
    text-align: center;
}

.titulo {
    font-weight: bold;
}
